@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url("img/backgroundlighter.png");
    padding-top: 200px;
}

.title{
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    color: #b61546;
    text-shadow: 7px 3px 7px rgba(0,0,0,0.30);
}


form{
    background-color: rgba(239, 231, 204);
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 7px 13px 24px -19px, -10px -6px 24px -19px rgba(0,0,0,1);
    -moz-box-shadow: 7px 13px 24px -19px, -10px -6px 24px -19px rgba(0,0,0,1);
    box-shadow: 7px 13px 24px -19px, -10px -6px 24px -19px rgba(0,0,0,1);
}

#run{

    background-color: #87163c;
    color: #ee4037;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    margin: 30px;
    width: 120px;
    height: 55px;
    border: none;
    border-radius: 25px;
    -webkit-box-shadow: 7px 13px 24px -19px, -10px -6px 24px -19px rgba(0,0,0,1);
    -moz-box-shadow: 7px 13px 24px -19px, -10px -6px 24px -19px rgba(0,0,0,1);
    box-shadow: 7px 13px 24px -19px, -10px -6px 24px -19px rgba(0,0,0,1);
}

#run:hover{
    background-color: #ffae1b;
}

#num{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #e3d5a1;
    color: #ee4037;
    text-decoration: none;
    border: none;
    text-align: center;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
}